@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.carousel-inner img{
    /* width: 98%;
    height: 425px; */
    margin-top: 500px;
    margin-left: 50px;
    margin-right: 100px;
    display: inline-block;
    
  }

  .carousel-inner img{
    display: flex;

  }

  carousel-item {
    flex: 0 0 auto; /* Prevent items from expanding */
    /* Add styling for item appearance */
  }

  .carousel-caption{
    position: fixed;
    top: 50%;
    transform: translateY(50%);
  }
  
  .carousel-caption h1{
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  
  @media (max-width:992px){
    .social a{
      font-size: 4em;
      padding: 2rem;
    }
  }
  
  @media (max-width: 768px){
    .carousel-caption{
      top: 45%;
    }
    
    .carousel-caption h1{
      font-size: 350%;
    }

  }

  @media (max-width: 576px){
    .carousel-caption{
      top: 40%;
    }
  }
    .carousel-caption h1{
      font-size: 250%;
    
    }
  
    .carousel-indicators{
      display: none;
    }
  
