:root {
 
    --formColor: #ecdad1;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --inputColor: hsl(330, 12%, 97%);
    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 5px;
  }
  
  .OutletCSS {
    position: fixed;
    width: 100%;
    background: var(--bgColor);
    height: 100vh;
    padding: 2rem;
    gap: 2rem;
    margin-top: 40px;
    overflow-y: scroll;
  }
  .OutletCSS .pageBody {
    flex-basis: 80%;
    background: #CCD3CA;
    height: 100%;
    border-radius: var(--borderRadius);
    padding: 2rem;
  }
  .OutletCSS .pageBody .sectionTitle {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .OutletCSS .pageBody .sectionTitle h1 {
    font-size: 1.9rem;
    color: var(--blackColor);
  }
  .OutletCSS .pageBody .sectionTitle p {
    font-size: var(--h3FontSize);
  }
  .OutletCSS .pageBody .topSection .video_Summary {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 1.5rem;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft {
    width: 65%;
    position: relative;
    border-radius: var(--borderRadius);
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: var(--borderRadius);
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoDiv video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText {
    width: 80%;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText h4 {
    font-size: 2rem;
    padding: 4rem 2rem 1.5rem;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns {
    padding: 0 2rem;
    gap: 1rem;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .link {
    padding: 1rem;
    border-radius: var(--borderRadius);
    border: 2px solid var(--primaryColorLight);
    color: var(--whiteColor);
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .link:hover {
    color: #3f6c29;
    background: var(--primaryColorLight);
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .bg {
    background: var(--primaryColorLight);
    color: #3f6c29;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .bg:hover {
    color: var(--whiteColor);
    background: none;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexRight {
    height: 100%;
    width: 35%;
    background: #A2CA71;
    padding: 1rem;
    border-radius: var(--borderRadius);
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexRight span {
    font-size: var(--h2FontSize);
    color: var(--primaryColorLight);
    padding-bottom: 1rem;
    display: block;
    font-weight: 600;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexRight .singleBooking {
    background: var(--primaryMediumColor);
    padding: 0.5rem;
    border-radius: var(--borderRadius);
    margin-bottom: 0.5rem;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexRight .singleBooking span {
    font-size: var(--h3FontSize);
    font-weight: 600;
    padding-bottom: 0.7rem;
  }
  .OutletCSS .pageBody .topSection .video_Summary .flexRight .singleBooking .flex {
    width: 100%;
    justify-content: space-between;
    color: var(--blackColor);
  }
  .OutletCSS .pageBody .bottomSection {
    padding: 2rem 0;
  }
  .OutletCSS .pageBody .bottomSection .title {
    display: block;
    font-size: var(--h1FontSize);
    color: #3f6c29;
    padding-bottom: 1rem;
    font-weight: 600;
    padding-top: 5rem;
  }
  .OutletCSS .pageBody .bottomSection .toursContainer {
    gap: 1.5rem;
  }
  .OutletCSS .pageBody .tourContainer {
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .OutletCSS .pageBody .singleTour {
    width: 100%;
    position: relative;
    border: 2px solid transparent;
    padding-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease;
    background: #CCD3CA;
    box-shadow: 0 2px 2px var(--primaryMediumColor);
  }
  .OutletCSS .pageBody .singleTour:hover {
    background: #CCD3CA;
    border: 2px dashed #CCD3CA;
  }
  .OutletCSS .pageBody .singleTour .imgDiv {
    height: 150px !important;
    background: #000;
    width: 100%;
    overflow: hidden;
  }
  .OutletCSS .pageBody .singleTour .imgDiv img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.3s ease-in-out;
  }
  .OutletCSS .pageBody .singleTour .imgDiv:hover img {
    transform: scale(1.1);
  }
  .OutletCSS .pageBody .singleTour .tourInfo {
    padding: 0 1rem;
  }
  .OutletCSS .pageBody .singleTour .tourInfo .tourTitle {
    font-size: var(--h2FontSize);
    color: #3f6c29;
    font-weight: 600;
  }
  .OutletCSS .pageBody .singleTour .tourInfo .detailsDiv {
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }
  .OutletCSS .pageBody .singleTour .tourInfo .detailsDiv .icons {
    color: rgb(245, 176, 79);
  }
  .OutletCSS .pageBody .singleTour .tourInfo .detailsDiv .icons .icon {
    font-size: var(--normalFontSize);
  }
  .OutletCSS .pageBody .singleTour .tourInfo .detailsDiv .infor {
    font-size: var(--normalFontSize);
    transform: translateY(-2px);
  }
  .OutletCSS .pageBody .singleTour .tourInfo p {
    padding-bottom: 1rem;
  }
  .OutletCSS .pageBody .singleTour .tourInfo .btn {
    color: #3f6c29;
    font-size: 14px;
    border: 2px solid #3f6c29;
    transition: 0.3s ease;
    margin-top: 1rem;
    width: -moz-max-content;
    width: max-content;
    background: #CCD3CA;
  }
  .OutletCSS .pageBody .singleTour .tourInfo .btn:hover {
    background: #3f6c29;
    color: #CCD3CA;
    border: 2px solid #3f6c29;
  }
  .OutletCSS .pageBody .singleTour .btns {
    gap: 1rem;
  }
  .OutletCSS .pageBody .tableDiv {
    margin-top: 2rem;
    width: 100%;
  }
  .OutletCSS .pageBody .tableDiv .icon {
    color: #3f6c29;
  }
  .OutletCSS .pageBody .tableDiv .icon:hover {
    color: var(--primaryMediumColor);
  }
  .OutletCSS .pageBody .tableDiv table {
    width: 100%;
  }
  .OutletCSS .pageBody .tableDiv table .tableHeaders,
  .OutletCSS .pageBody .tableDiv table .tableRows {
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 1rem;
    border-radius: var(--borderRadius);
    color: var(--blackColor);
  }
  .OutletCSS .pageBody .tableDiv table .tableHeaders .icon,
  .OutletCSS .pageBody .tableDiv table .tableRows .icon {
    font-size: var(--h1FontSize);
  }
  .OutletCSS .pageBody .tableDiv table .tableHeaders .icon:hover,
  .OutletCSS .pageBody .tableDiv table .tableRows .icon:hover {
    color: #3f6c29;
  }
  .OutletCSS .pageBody .tableDiv table .tableHeaders {
    background: var(--primaryMediumColor);
  }
  .OutletCSS .pageBody .formDiv {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
  .OutletCSS .pageBody .formDiv .fieldDiv input, .OutletCSS .pageBody .formDiv .fieldDiv select {
    outline: none;
    border: none;
    width: 200px;
    padding: 0.8rem;
    background: var(--primaryColorLight);
    border-radius: var(--borderRadius);
    color: var(--blackColor);
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: var(--normalFontSize);
    width: 100%;
    gap: 0.5rem;
    transition: 0.3s ease;
  }
  .OutletCSS .pageBody .formDiv .fieldDiv input::-moz-placeholder, .OutletCSS .pageBody .formDiv .fieldDiv select::-moz-placeholder {
    font-size: var(--smallFontSize);
  }
  .OutletCSS .pageBody .formDiv .fieldDiv input::placeholder, .OutletCSS .pageBody .formDiv .fieldDiv select::placeholder {
    font-size: var(--smallFontSize);
  }
  .OutletCSS .pageBody .formDiv .fieldDiv textarea {
    height: 100px;
    width: 100%;
    padding: 0.8rem;
    background: var(--primaryColorLight);
    border-radius: var(--borderRadius);
    color: var(--blackColor);
    outline: none;
    border: none;
  }
  .OutletCSS .pageBody .formDiv .fieldDiv label {
    color: var(--blackColor);
    font-weight: 400;
    font-size: var(--normalFontSize);
    padding: 0.5rem 0;
    display: block;
  }
  .OutletCSS .pageBody .formDiv .btn {
    margin-top: 6.5rem;
    text-align: center;
    justify-content: center;
    transform: translateY(-65px);
  }
  .OutletCSS .pageBody .formDiv .addSafariBtn,
  .OutletCSS .pageBody .formDiv .editSafariBtn {
    text-align: center;
    justify-content: center;
    transform: translateY(30px);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--borderRadius);
    padding: 0.8rem 1rem;
    color: var(--whiteColor);
    background: #3f6c29;
  }
  .OutletCSS .pageBody .formDiv .addSafariBtn:hover,
  .OutletCSS .pageBody .formDiv .editSafariBtn:hover {
    background: var(--inputColor);
    color: #3f6c29;
    transition: 0.3s ease;
  }
  .OutletCSS .pageBody .SafariDetails .imageDiv {
    height: 100%;
    max-height: 200px;
    background: #000;
    border-radius: var(--borderRadius);
    overflow: hidden;
    position: relative;
  }
  .OutletCSS .pageBody .SafariDetails .imageDiv .imgText {
    position: absolute;
    background: rgba(0, 0, 0, 0.4352941176);
    z-index: 4;
    height: 100%;
    width: 100%;
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .OutletCSS .pageBody .SafariDetails .imageDiv .imgText h3 {
    color: var(--whiteColor);
    font-size: var(--biggestFontSize);
  }
  .OutletCSS .pageBody .SafariDetails .imageDiv img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .title {
    display: block;
    padding: 1rem 0;
    color: #3f6c29;
    font-size: var(--h2FontSize);
    font-weight: 600;
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo p {
    color: var(--blackColor);
    font-size: var(--normalFontSize);
    line-height: var(--h1FontSize);
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .specs {
    padding: 1rem 0;
    gap: 0.5rem;
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .specs span {
    gap: 0.8rem;
    color: var(--blackColor);
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .specs span .icon {
    font-size: var(--h1FontSize);
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .specs span small {
    font-size: var(--h2FontSize);
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .actionButtons {
    gap: 1rem;
    margin-top: 1rem;
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .actionButtons .price {
    padding: 0.7rem;
    border-radius: var(--borderRadius);
    border: 1.5px dashed #3f6c29;
    color: #3f6c29;
    font-size: var(--h2FontSize);
    font-weight: 600;
  }
  .OutletCSS .pageBody .SafariDetails .detailsInfo .actionButtons .btn {
    font-size: var(--h3FontSize);
    padding: 0.9rem 1.2rem;
  }
  .OutletCSS .pageBody .detailContainer .topCard {
    background: var(--primaryMediumColor);
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1.5rem;
  }
  .OutletCSS .pageBody .detailContainer .topCard span {
    color: var(--blackColor);
    font-size: 1.3rem;
    font-weight: 600;
  }
  .OutletCSS .pageBody .detailContainer .guestDetails .flex {
    justify-content: space-between;
    padding: 0.3rem;
    border-bottom: 2px dashed var(--primaryMediumColor);
  }
  .OutletCSS .pageBody .detailContainer .guestDetails .flex .title {
    color: var(--blackColor);
    font-weight: 600;
    font-size: var(--h3FontSize);
  }




  .carousel-container {
    width: 100%;
    /* max-width: 2000px; */
    margin: 0 auto;
    margin-bottom: 10rem;
    /* padding: 0 15px; */
  }
  
  .carousel-inner {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
  }
  
  .carousel-caption h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 300px;
    }
  
    .carousel-caption h1 {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-item img {
      height: 200px;
    }
  
    .carousel-caption h1 {
      font-size: 1.2rem;
    }
  }
  